<%- include("header") -%>

<body>

  <div class="box1" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box2">
    <% for(var i = 0; i < listItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p>
        <%= listItems[i] %>
      </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newTodo" placeholder="New Item" autocomplete="off">
      <button class="add" type="submit" name="listSubmit" value=<%= listTitle %>>+</button>
    </form>

    <form  action="/clear" method="POST">
      <button class="clear" type="submit">Clear</button>
    </form>
  </div>

</body>

<%- include("footer") -%>